<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../style/style.css">
    <%- include('../partials/head') %>
</head>

<body id="matchPage">

    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <section>
            <button><img src="../img/preference_1.png" alt=""></button>
        </section>
        
        <div>
            <%- include('../partials/preferenceForm') %>
        </div>

        <article>
            
            <% for(let i = 0; i < users.length; i++) {%>
              <ul class="userCard">
                
                <li><%= users[i].username %></li>
                <li>Console: <%= users[i].chosenConsoles %></li>
                <li>Games: <%= users[i].games %></li>
               
                
              </ul>
            <% } %>
        </article>

    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

<script src="../script/script.js"></script>

</html>