<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <h1><%= title %></h1>
        
        <%- include('../partials/addUserForm') %>


        <section id="newUser">
            <button>+</button>
            </section>

        <article>

            <% for(let i = 0; i < user.length; i++) {%>
                <ul class="userCard">
                  
                  <li><%= user[i].username %></li>
                  <li>Console: <%= user[i].chosenConsoles %></li>
                  <li>Games: <%= user[i].games %></li>
                 
                  
                </ul>
              <% } %>

        </article>
        
        

    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

<script src="../script/addUser.js"></script>

</html>