<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        
    </header>

    <main>
        <section>
        <h1><%= title %></h1>
        <p>welcome <%= username %></p>
        </section>
        
        <%- include('../partials/addUserForm') %>


        <section id="newUser">
            <button>+</button>
            </section>

        <article>

            <% for(let i = 0; i < user.length; i++) {%>
                <ul class="userCard">
                  
                <section class="user">   
                <li><%= user[i].username %> <button class="edit">Edit</button></li>
                <li>Console: <%= user[i].chosenConsoles %></li>
                <li>Games: <%= user[i].games %></li>
                </section> 

                <form action="/updateUser" method="POST" class="editForm">

                    <input type="text" value="<%= user[i]._id %>" name="id">
                    <input type="text" value="<%= user[i].username %>" name="username">
                    <input type="text" value="<%= user[i].chosenConsoles %>" name="chosenConsoles">
                    <input type="text" value="<%= user[i].games %>" name="games">

                    <input type="submit" value="SAVE">
                
                
                </form>
                
                </ul>
              <% } %>

        </article>
        
        

    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

<script src="../script/addUser.js"></script>

</html>