<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        
    </header>

    <main>
        <section class="header">
        <h1><%= title %></h1>
        <a href="/logout"><img class="logOut" src="../img/logOut.png" alt=""></a>
        </section>
        
        

        <article id="admin">

            

            <section id="users">
            <% for(let i = 0; i < user.length; i++) {%>
                <ul class="userCard">
                  
                <section class="user">   
                <li><%= user[i].username %> <button class="edit">Edit User</button> 
                    <form action="/delete" method="POST">
                    <input type="hidden" value="<%= user[i]._id %>" name="id">
                    <button type="submit">Delete User</button>
                    </form>
                </li>
                <li>Console: <%= user[i].chosenConsoles %></li>
                <li>Games: <%= user[i].games %></li>
                </section> 

                <form action="/updateUser" method="POST" class="editForm">

                    <section>
                    <input type="text" value="<%= user[i]._id %>" name="id">
                    <input type="text" value="<%= user[i].username %>" name="username">
                    <input type="text" value="<%= user[i].chosenConsoles %>" name="chosenConsoles">
                    <input type="text" value="<%= user[i].games %>" name="games">
                    </section>

                    <input type="submit" value="SAVE">
                
                
                </form>
                
                </ul>
              <% } %>
            </section>

            <section id="addUserForm">
                <%- include('../partials/addUserForm') %>
            </section>

        </article>
        
        

    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

<script src="../script/addUser.js"></script>

</html>